@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: var(--body-color) !important;
}  
:root {
  --body-color:   #ffffff;
  --main-color:   #2196F3 ;
  --title-color:   #454545;
  --second-title-color:#454545;
  --paragraph-color : #858585;
  --section-color:#efefef;
  --section-color2:#ffffff;
  --border-color: #c3c3c3;
  --red-color: #ce3636;
  --box-shadow: rgb(0 0 0 / 17%) 0px 0px 23px -5px;
}
body.dark {
  --body-color:   #101014;
  --title-color:   #c8c8c8;
  --second-title-color:#fff;
  --paragraph-color :   #909090;
  --section-color:#212121;
  --section-color2:#171918;
  --border-color: #525252;
  --box-shadow: rgb(0 0 0 / 24%) 0px 0px 23px -5px;
}

.App {
  display: flex;
  gap: 35px;
  color: white;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #7b7b7b;
  border-radius: 5rem;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}                                                                   
h1,h2,h3,h4,h5,h6,li,svg,a {
  margin: 0;
  padding: 0;
  color: var(--title-color);
}
svg{
  transition: 0.3s;
  cursor: pointer;
}
p {
  margin: 0;
  padding: 0;
  color: var(--paragraph-color);
}
ul {
    list-style: none;
    margin: 0;
    padding:0;
}
hr {
  background: var(--border-color);
  height: 2px;
  border: none;
}
input {
  outline: none;
  border: none;
  border-radius: 6px;
  color: var(--title-color);
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
/* Large */
}
@media (min-width: 1600px) {
  .container {
    width: 1550px;
  }
}

.main-button {
  text-align: center;
  background: var(--border-color);
  color: #fff;
  height: 45px;
  font-size: 15px;
  padding: 0 12px;
  font-weight: 500;
  border-radius: 4px;
  transition: .3s;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mainTitle {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.sideTitle {
  font-size: 16px;
  margin-bottom: 14px;
  padding-left: 12px;
}

.smallContentHolder {
  display: flex;
  width: 100%;
  gap: 8px;
  font-size: 17px;
  padding: 18px 26px;
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.smallContentHolder:hover,
.smallContentHolder.active {
  background: var(--section-color);
}
.smallContentHolder img {
  width: 44px;
  height: 51px;
  border-radius: 5px;
  object-fit: fill;
}

.title {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  transition: 0.3s;

  text-transform: capitalize;
}
.title svg  {
  transition: 0.3s;
}
.title:hover svg {
  transform: translateX(5px);
}
.title.onlyOneColection {
  margin-bottom: 15px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

/* ========= Cards-Swiper =========  */

.swiperSection .firstHolder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


.navigateIcons {
  display: flex;
  gap: 27px;
}
.navigateIcons svg {
  font-size: 15px;
  width: 30px !important;
  height: 30px !important;
  padding: 7px;
  background-color: var(--section-color);
  border-radius: 50%;
  cursor: pointer;
}
.navigateIcons svg:hover {
  background: var(--border-color);
}

/* Main pagination container */
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0px, 0px, 0px);
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 10px; /* Adjust bottom positioning */
}

.swiper-pagination-bullet {
  width: 11px !important;
  height: 11px !important;
  margin: 0 4px !important; 
  background-color:var(--section-color) !important; 
  border-radius: 50% !important; 
  transition: background-color 0.3s !important;
  opacity: 1 !important; 
  cursor: pointer !important; 
}
.swiper-pagination-bullet-active {
  background-color: var(--main-color) !important;
  width: 20px !important;
  height: 10px !important;
  opacity: 1 !important;
  border-radius: 8px !important;
}

.swiper-pagination-bullet:hover {
  background-color: rgba(255, 255, 255, 0.8) !important; 
}



/* ========= MAIN-CARD =========  */
.main-card {
  position: relative;
  cursor: pointer;
}
.main-card .image {
  width: 100%;
  height: 305px;
  border-radius: 9px;
  overflow: hidden;
  display: block;
}
.main-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.main-card:hover img {
  scale: 1.05;
  opacity: 0.7;
}
.main-card .addToWishList {
  position: absolute;
  top: 7px;
  right: 7px;
  visibility: hidden;
  opacity: 0;
}
.main-card .addToWishList svg {
  color: white;
  background: #151515;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 4px;
  transition: 0.2s;
}
.main-card:hover .addToWishList {
  visibility: visible;
  opacity: 1;
}
.main-card .info {
  margin: 7px 2px;
}
.main-card .info .cat {
  color: var(--paragraph-color);
  margin-bottom: -2px;
  text-transform: capitalize;
}
.main-card .info .name {
  letter-spacing: -0.8px;
  margin: 6px 0;
}
.price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  font-weight: 600;
}
.price .sale {
  background: #151515;
  border-radius: 20px;
  padding: 3px 8px;
  font-size: 14px;
  font-weight: 700;
  color: #d2d2d2;
  position: absolute;
  top: 7px;
  left: 7px;
}
.price .sale.relative {
  position: relative;
  top: unset;
  left: unset;
  background: var(--main-color);
  color: black;
}
.price .lastPrice {
  text-decoration: line-through;
}

.logo-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
  margin-bottom: 15px;
}
.logo { 
  color: var(--title-color);
  display: flex;
  align-items: center;
  gap: 9px;
  font-weight: 800;
  letter-spacing: 0.4px;
  padding-left: 10px;
}
.logo-holder svg {
  font-size: 27px;
  display: none;
}
.logo-holder img {
  width: 34px;  
}

/*! ============= NAV ============ */

.nav {
  position: fixed;
  padding: 24px 0 14px 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 294px;
  height: 100%;
  transition: 0.3s;
  justify-content: space-between;
}
.nav svg {
  font-size: 22px;
}
.nav .navLinks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav .quickLunch {
  margin-top: 15px;
}
.nav .quickLunch li {
  padding: 8px 26px;
}
.nav .quickLunch .smallContentHolder img {
  height: 44px;
}
.nav .quickLunch h5 {
  font-size: 14px;
  letter-spacing: 0.3px;
}
.nav .bottom li {
  padding: 18px 26px;
}
.nav .bottom li:first-child {
  gap: 5px;
}
.nav .bottom li:first-child svg {
  font-size: 24px;
}
.App:has(.nav) .main {
  padding-left: 322px;
  padding-right: 20px;
  width: 100%;
}
/*! ============= HEADER ============ */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8px;
  background: var(--body-color);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header .first {
  display: flex;
  align-items: center;
  gap: 22px;
}
.header .first .logo-holder {
  margin-bottom: 0;
  padding-right: 0px;
}
.main.side .header .first .logo-holder {
  display: none;
}
.header .first .logo-holder .logo {
  padding: 0;
}
.header .searchHolder {
  position: relative;
}
.header .searchHolder .inputHolder svg {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--paragraph-color);
}
.header .searchHolder .inputHolder input {
  background: var(--section-color);
  padding: 12px 20px 12px 37px;
  border-radius: 19px;
}
.header .searchHolder .allResult {
  position: absolute;
  background: var(--section-color2);
  left: 0;
  top: 50px;
  border-radius: 5px;
  padding: 10px 14px;
  padding-left: 10px;
  width: 200%;
  box-shadow: var(--box-shadow);
}
.header .searchHolder .allResult .smallContentHolder {
  padding: 8px 15px;
  margin-bottom: 5px;
}
.header .searchHolder .allResult img {
  width: 40px;
  height: 44px;
  border-radius: 3px;
}
.header .searchHolder .allResult a.view {
  font-size: 14px;
  text-decoration: underline;
  margin: 10px 0 10px 15px;
  display: flex;
  width: fit-content;
}
.header .searchHolder .allResult h5 {
  font-size: 15px;
  margin: 12px;
  overflow-wrap: anywhere;
}
.header .links {
  display: flex;
  gap: 18px;
  align-items: center;
}
.header .links hr {
  width: 10px;
  margin: 2px -4px 0;
}
.header .links a {
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}
.header .links a:hover,
.header .links a.active {
  color: var(--main-color);
}
.header .links.last {
  padding: 10px 0;
  gap: 16px;
}
.header .links.last a {
  padding: 0;
  margin-top: 1px;
}
.header .links.last hr {
  padding: 0px;
  height: 20px;
  width: 2px;
}
.header .links.last .darkLight {
  display: flex;
  align-items: center;
}
.header .loginBtns {
  display: flex;
  gap: 15px;
  margin-right: 3px;
}
.header .bars {
  font-size: 27px;
  transform: translateY(1px);
  margin-left: -8px;
  display: none;
}
.header .links.last .darkLight svg {
  font-size: 18px;
}
body.dark .header .links.last .darkLight svg {
  font-size: 22px;
}


/*! ========= LANDING =========  */

.home {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.home .landing {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.home .landing .mainSection {
  width: 80%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.home .landing .mainSection img {
  height: 675px;
  width: 100%;
  object-fit: cover;
}
.home .landing .mainSection .holder {
  position: absolute;
  z-index: 2;
  bottom: 13%;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.home .landing .mainSection .holder::before {
  content: '';
  position: absolute;
  left: 43%;
  top: 65%;
  box-shadow: 0 0 298px 295px #00000087;
  z-index: -1;
}
.home .landing .mainSection .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home .landing .mainSection h4 {
  color: #fff;
  font-weight: 400;
}
.home .landing .mainSection p {
  width: 455px;
  color: #fff;
  font-weight: 300;
  line-height: 25px;
}
.home .landing .mainSection .buttons {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
}
.home .landing .mainSection .buttons a {
  background-color: white;
  padding: 14px 35px;
  font-size: 15px;
  font-weight: 500;
  color: black;
  border-radius: 9px;
}
.home .landing .mainSection .buttons button {
  color: #fff;
  padding: 16px 20px;
  border-radius: 9px;
  font-size: 15px;
  transition: .3s;
  display: flex;
  align-items: center;
  gap: 5px;
}
.home .landing .mainSection .buttons button:hover {
  background-color: #ffffff36;
}
.home .landing .mainSection .buttons button svg {
  font-size: 20px;
  color: white;
}
.home .landing .megaSection {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.home .landing .megaSection img {
  width: 55px;
  height: 65px;
}
.home .landing .megaSection li {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.home .landing .megaSection li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--border-color);
}
.home .landing .megaSection li.backAnimation:before {
  animation: backAnimation 7s linear;
}
.home .landing .megaSection li.backAnimation {
  background: var(--section-color);
}
.home .landing .megaSection li img,
.home .landing .megaSection li h5 {
  z-index: 2;
}

@keyframes backAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.navigateIcons {
  position: relative;

}

.swiper-button-prev::after , .swiper-button-next::after  {
  display: none;
}
.swiper-button-prev, .swiper-button-next {
  position: relative !important;
  margin: 0 !important;
  top: 0 !important;
  width: unset !important;
  color: transparent !important;
}


/*! ============= RewardSection ============ */

.rewardSection{
  padding: 22px;
  padding-right: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: var(--section-color);
  margin: 20px 0;
  margin-left: 15px;
}
.rewardSection .firstHolder {
  display: flex;
  gap: 40px;
  position: relative;
}
.rewardSection .firstHolder img {
  position: absolute;
  width: 132px;
  top: 44%;
  left: -32px;
  transform: translateY(-50%) rotate(55deg);
}
.rewardSection .firstHolder .textHolder {
  margin-left: 93px;
}
.rewardSection .firstHolder .textHolder p {
  font-size: 15px;
}
.rewardSection .prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.rewardSection .prices h5 {
  text-transform: uppercase;
  color: var(--paragraph-color);
}
.rewardSection .prices span {
  color: var(--second-title-color);
  font-size: 20px;
  font-weight: 600;
}


/*! ============= Deals ============ */

.dealSection .deals{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  gap: 20px;
}
.dealSection .title{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s; 
  margin-bottom: 18px;
}

.dealSection .title svg  {
  transition: 0.3s;
}
.dealSection .title:hover svg {
  transform: translateX(5px);
}
.dealSection .deals .image{
  overflow: hidden;
  border-radius: 8px;
  height: 210px;
}

.dealSection .deals img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
}
.dealSection .deals img:hover {
  scale: 1.05;
  opacity: 0.7;
} 



.dealSection .deals .card .name,
.dealSection .deals .collection p{
  margin: 19px 0 16px;
  color: var(--second-title-color);
  font-weight: 500;
  font-size: 17px;
}
.dealSection .deals .collection a {
  background-color: var(--section-color);
  color: var(--second-title-color);
  padding: 10px 14px;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.3s;
}
.dealSection .deals .collection a:hover {
  background: var(--border-color);
}


/*! ============= FreeSection ============ */

.freeSection {
  padding: 30px;
  background-color: var(--section-color);
  border-radius: 13px;
}

.freeSection .head .title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.freeSection .head .title h3 {
  font-size: 20px;
}
.freeSection .head .title svg {
  font-size: 25px;
  margin-bottom: 2px;
} 
.freeSection .head .title h3, 
.freeSection .head .title svg {
  color: var(--second-title-color);
  font-weight: 600;
}
.freeSection .head a {
  background-color: var(--section-color);
  color: var(--second-title-color);
  padding: 10px 14px;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.3s;
  border: 1px solid var(--border-color);
}
.freeSection .head a:hover {
  background: var(--border-color);
  border: 1px solid var(--second-title-color);
}
.freeSection .cards {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
}

.freeSection .cards .card {
  width: 100%;
}
.freeSection .cards .card .image {
  height: 85%;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 8px;
}
.freeSection .cards .card .image:hover img {
  scale: 1.05;
  opacity: 0.7;
}
.freeSection .cards .card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
}
.freeSection .cards .card h4 {
  font-size: 18px;
  color: var(--second-title-color);
  font-weight: 600;
  margin: 12px 0 6px;
}
.freeSection .cards .card h5 {
  font-size: 15px;
}




/*! ============= collections ============ */
.collections {
  margin: 25px 0 0;
  position: relative;
}
.collections .swiper {
  padding-bottom: 40px;
}
.collections .navigateIcons {
  position: absolute;
  top: -10.5px;
  right: 0;
  z-index: 49;
}
.collectionSection {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 14px;
  border-left: 1px solid var(--border-color);
}
.swiper-slide:first-child .collectionSection {
  border-left: none;
  padding-left: 0;
}
.collectionSection .main-card {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.3s;
  border-radius: 8px;
  padding: 13px;
}
.collectionSection .main-card:hover {
  background: var(--section-color);
}
.collectionSection .main-card .image {
  width: 102px;
  height: 122px;
}

.collectionSection .main-card .addToWishList {
  top: 13px;
  right: 13px;
}
.collectionSection .main-card .info .price .sale {
  background: #26bbff;
  border-radius: 20px;
  padding: 3px 11px;
  font-size: 14px;
  font-weight: bold;
  color: black;
}


/*! ============= Partners ============ */

.partners {
  background: var(--section-color);
  padding: 24px 30px 31px;
  border-radius: 8px;
}
.partners .head a {
  border: 1px solid var(--border-color);
  padding: 10px 15px;
  border-radius: 5px;
  margin: -5px 0;
}
.partners .mainHolder {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.partners .mainHolder .firstHolder ,
.secondHolder {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.partners .mainHolder .image {
  overflow: hidden;
  height: 350px;
  width: 100%;
  border-radius: 8px;
  transition: 0.3s;
}
.partners .mainHolder .image:hover img {
  scale: 1.05;
  opacity: 0.7;
}
.partners .mainHolder .image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.partners .mainHolder p {
  font-size: 15px;
}
.partners .mainHolder span {
  color: var(--second-title-color);
}

.trending {
  padding: 30px;
  background-color: var(--section-color);
  border-radius: 13px;
}

.trending  .navigateIcons svg {
  background-color: var(--section-color2);
}
.navigateIcons svg:hover {
  background: var(--border-color);
}



@media(max-width:1600px) {
  .home .landing .mainSection img {
    height: 600px;
  }
  .home .landing .mainSection {
    width: 75%;
  }
  .home .landing .megaSection {
    width: 23%;
  }
  .freeSection .cards {
    grid-template-columns: repeat(auto-fill, minmax(187px, 1fr));
  }
  .collections > .holder {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(354px, 1fr));
  }
}

@media(max-width:1400px) {
  .home .landing {
    flex-direction: column;
  }
  .home .landing .mainSection {
    width: 100%;
  }
  .home .landing .mainSection img {
    height: 526px;
  }
  .home .landing .megaSection {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .home .landing .megaSection li {
    width: 32.6%;
    padding: 18px 16px;
  }
  .rewardSection .firstHolder .textHolder p {
    max-width: 328px;
  }
  .partners .mainHolder .image img{
    object-fit: fill;
  }
  .partners .mainHolder {
    display: flex;
    flex-direction: column;
  }
}

@media(max-width:1100px) {
  .home .landing .mainSection .holder {
    bottom: 8%;
  }
  .home .landing .mainSection img {
    height: 425px;
  }
  .home .landing .megaSection li {
    width: 32.5%;
  }
  .rewardSection .firstHolder .textHolder p {
    max-width: 280px;
  }
}

@media(max-width:992px) {
  .App .main {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .main.container .logo h4 {
    display: none;
  }
  .header .searchHolder .inputHolder input {
    width: 180px;
  }
  .header .first .logo-holder {
    display: flex !important;
  }
  .header .first .logo-holder .logo h4 {
    display: none;
  }
  .header .first .logo-holder .logo {
    margin-right: -6px;
  }
  .header .bars {
    display: block;
  }
  .nav {
    left: -300px;
    background: var(--body-color);
    z-index: 102;
    border-right: 3px solid var(--border-color);
    padding-top: 32px;
    padding-right: 9px;
    width: 300px;
  }
  .nav.active {
    left: 0;
    box-shadow: 5px 0 26px 10px #0000005e;
  }
  .nav .logo-holder svg {
    display: flex;
  }
  .collectionSection:first-child {
    border-left: 1px solid var(--border-color);
    padding-left: 14px;
  }
  .rewardSection .firstHolder .textHolder p {
    max-width: 350px;
  }
  .swiper-slide:first-child .collectionSection {
    border-left: 1px solid var(--border-color);
    padding-left: 14px;
  }
}

@media(max-width:768px) {
  .App .main {
    width: 100%;
    padding: 0 12px;
  }
  .header {
    padding: 20px 0;
  }
  .header .links:not(.last) a:not(.storeTitle),
  .header .links:not(.last) hr {
    display: none;
  }
  .header .links.last {
    display: flex;
  }
  .header .first {
    gap: 12px;
  }
  .header .searchHolder {
    position: unset;
  }
  .main.side .header .searchHolder .inputHolder input {
    width: 100px;
  }
  .header .searchHolder .inputHolder input {
    width: 140px;
  }
  .header .searchHolder .inputHolder input:focus {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100% !important;
    transition: width 0.3s;
    z-index: 2;
  }
  .header .first .logo-holder .logo {
    margin-right: 0;
  }
  .header .searchHolder .inputHolder svg {
    left: 59px;
    transition: 0s !important;
  }
  .header:has(.inputHolder input:focus) .logo-holder {
    display: none !important;
  }
  .header .searchHolder:has(input:focus) .allResult {
    top: 75px;
  }
  .header .searchHolder:has(input:focus) svg {
    left: 14px;
  }
  .header .searchHolder:has(input:focus) svg {
    z-index: 5;
  }
  .header .searchHolder .allResult {
    top: 75px;
    width: 100%;
  }
  .home .landing .megaSection li {
    width: 48%;
  }
  .home .landing .mainSection p {
    width: 96%;
    font-size: 14px;
  }
  .home .landing .mainSection img {
    height: 297px; 
  }
  .home .landing .mainSection .holder {
    gap: 5px;
  }
  .home .landing .mainSection .buttons a {
    display: none;
  }
  .home .landing .mainSection .buttons button {
    padding: 13px 13px;
  }
  .home .landing .megaSection li {
    padding: 12px;
  }
  .home .landing .megaSection li h5 {
    font-size: 13px;
    font-weight: 400;
  }
  .swiperSection .firstHolder {
    margin-bottom: 10px;
  }
  .main-card .image {
    height: 215px;
  }
  .freeSection {
    padding: 17px 14px;
  }
  .freeSection .cards {
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  }
  .rewardSection {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-left: 0;
    margin-top: 25px;
    padding-bottom: 18px;
  }
  .rewardSection .firstHolder {
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }
  .rewardSection .firstHolder .textHolder {
    margin: 0;
  }
  .rewardSection .firstHolder .textHolder p {
    margin-top: 5px;
  }
  .rewardSection .firstHolder img {
    width: 110px;
    position: relative;
    top: unset;
    left: unset;
    transform: none;
    margin-top: -75px;
  }
  .collections {
    margin: 0;
  }
}

@media(max-width:400px) {

}